@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1546688298203'); /* IE9 */
  src: url('iconfont.eot?t=1546688298203#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABlgAAAJOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApccgE2AiQDCAsGAAQgBYRtBzcbnwXInpo8CdRKbNgYzLrwDnPcQATVGtmzt/dE7CioARWBikehgGVc4qLJApZnoVhH/9Ka5gtkVHSBZFV5qNAf5B44n5FjodGIKTUhN+Gmk4OkLQiDEFJNOEsskCwL4fm1m2/A5fS/ARTIPKDc5hg8JmBgaUB7YxTRAEkzbhi7wCXcJlBjwJC3d396AR2ZtSgQl0JfQScXkGWWrhIqanZmcV+pKt1Ih3vh5+OfleiQlAWr6sDFnYXlT7Oz6GE7HfcJQQLaX6LAHJCJI7WJfeqCMepqEg0jYF/lwc9OwDeJveoF++us0jrQBwX3JHRFt1qaQI4Hu4CxUV8k1dVd16BOg7n1FfXotF613o8/fInjzX413vdedvnDp94Xgk/sZP2s+JQug4fg87OjG/9ZMvhxbPqhLuvnAlU7cwY/RdizI+tiy5iyKqx1JV2jFibUqME27GnxN1bTfgeZUKX9PlyV+lNboUoTQjLT51CqtYYKVXagxqyD/bVasbrI1ZjxChCafCNp8AqFJj9kpv+i1OEfFZqijhrHovXEWhMR9vYwKSGL+h5Dk2fOMUsvKj8j/zpRnBWHzCviKgzjbGGpmD6gjHiONdWNPxdx6DhPcQ/uoyTJseA8IiPjQKRYTBYv1j1pbPIUevZgRBHEQto9FDJyGef3F73S+88Q37WEwi01Nd4rhFXC4dHM2LQHeaDIetXcyyOVG745IRzksFwK7cE0kkjkUFE/LUIMMRaMiBUWJnYv11cxXl+VfkA+a8DSprBHFerPBSpWmU9O3F7nAA==') format('woff2'),
  url('iconfont.woff?t=1546688298203') format('woff'),
  url('iconfont.ttf?t=1546688298203') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1546688298203#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chakangengduo:before {
  content: "\e617";
}

